body {
  font-family: 'Roboto', sans-serif;
}
.map {
  display: grid;
}
.cell {
  width: 30px;
  height: 30px;
  border: solid 1px #8a9296;
  background-color: #33658a;
}
.startPos {
  background-color: #f6ae2d;
}
.island {
  background-color: #758e4f;
}
