body {
  font-family: 'Roboto', sans-serif;
}
.map
  display grid
.cell
  width 30px
  height 30px
  border solid 1px grey
  background-color ocean
.startPos
  background-color startPos
.island
  background-color island