blue=#33658A;
green=#758E4F;
yellow=#F6AE2D;
oragne=#F26419;
grey=#8A9296;

ocean=#33658A;
island=#758E4F;
start-pos=#F6AE2D;
startPos=#F6AE2D;
starting-pos=#F6AE2D;
startingPos=#F6AE2D;
current-pos=#F26419;
end-pos=#F26419;
currentPos=#F26419;
endPos=#F26419;